### 문제

1. 1을 문자형으로 나타내라(두가지 방법 제시)
2. "I love Python"을 me 변수에 넣고 3번 출력하라
3. me의 길이는?
4. me를 소문자로 바꿔라
5. me변수 중 p의 개수는?
6. me변수 중 l의 위치는?
7. me변수를 공백에 따라 나눠라
8. me변수의 I를 We로 바꿔라
9. 아래 데이터를 이용하여 '마트에서 애기를 둔 아빠가 기저귀를 살 때 같이 구매하는 제품은 맥주다.'를 변수를 사용해 출력하라(position과 keyword 하나씩)

In [2]:
purchase_1 = '기저귀'
purchase_2 = '맥주'
together = {'man_purchase_1':'기저귀', 'man_purchase_2':'맥주'}

In [3]:
together

{'man_purchase_1': '기저귀', 'man_purchase_2': '맥주'}

10. 본인의 이름을 입력받아 변수로 선언하고 f-string format를 이용해서 출력하라

11. '2017년 기준금리는 1.51%이다.'를 출력하라 f-string format를 이용해서 출력하라
> 구글링의 힘을 빌리자

    basemoney_rate = 1.51

----

### 답

1. 1을 문자형으로 나타내라(두가지 방법 제시)

In [14]:
type("1")

str

In [15]:
a = 1
a = str(1)

In [16]:
type(a)

str

2. "I love Python"을 me 변수에 넣어라

In [17]:
me = 'I love Python'
me*3

'I love PythonI love PythonI love Python'

3. me의 길이는?

In [18]:
len(me)

13

4. me를 소문자로 바꿔라

In [29]:
me.lower()

'i love python'

5. me변수 중 p의 개수는?

In [30]:
me.count('p',0,len(me)) #소문자로 바뀐 것을 변수로 입력안했음

0

In [31]:
mee=me.lower()
mee.count('p')

1

6. me변수 중 l(엘)의 위치는?

In [32]:
me.index('l',0,len(me))

2

7. me변수를 공백에 따라 나눠라

In [33]:
me.split(' ',2)

['I', 'love', 'Python']

8. me변수의 I를 We로 바꿔라

In [35]:
me.replace('I','We')

'We love Python'

> ## 잘 생각나지 않을 때 쓰는 방법 1. ??str.replace 2. 구글!

9. '마트에서 애기를 둔 아빠가 기저귀를 살 때 같이 구매하는 제품은 맥주다.'를 변수를 사용해 출력하라(position과 keyword 하나씩)

In [11]:
'마트에서 애기를 둔 아빠가 %s를 살 때 같이 구매하는 제품은 %s다.'%(purchase_1,purchase_2)

'마트에서 애기를 둔 아빠가 기저귀를 살 때 같이 구매하는 제품은 맥주다.'

In [21]:
'마트에서 애기를 둔 아빠가 {man_purchase_1}를 살 때 같이 구매하는 제품은 {man_purchase_2}다.'.format(**together)

'마트에서 애기를 둔 아빠가 기저귀를 살 때 같이 구매하는 제품은 맥주다.'

10. 본인의 이름을 입력받아 변수로 선언하고 f-string format를 이용해서 출력하라

In [37]:
name = input()

쩅쯘뀨

In [38]:
f'저의 이름은 {name} 입니다'

'저의 이름은 쩅쯘뀨 입니다'

11. 2017년 기준금리는 1.51%이다.를 출력하라

In [1]:
basemoney_rate = 1.51
'2017년 기준금리는 %.2f%%이다.' % basemoney_rate

'2017년 기준금리는 1.51%이다.'

In [3]:
f'2017년 기준금리는 {basemoney_rate}%이다'

'2017년 기준금리는 1.51%이다'

In [13]:
f'2017년 기준금리는 {basemoney_rate:.3}%이다'

'2017년 기준금리는 1.51%이다'