# 반복문(loop)
## contents
- while

문법 `while 조건식:`
- for

문법 `for 변수 in 반복범위:`
- break, continue
- 기타 유용 함수 - 중급에서 다룸(intermediate)
----

# - while

문법 `while 조건식:`
> 주어진 조건이 `참` 일 동안 계속 반복 수행

"열 번 찍어 안 넘어가는 나무 없다"는 속담을 만들어보자

In [5]:
treeHit = 0
while treeHit < 10:
    treeHit += 1
    print(f'나무를 {treeHit}번 찍었습니다.')
    if treeHit == 10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

![](https://www.tutorialspoint.com/python/images/python_while_loop.jpg)

| treeHit | 조건문  | 조건판단 | 수행하는 문장                            | while문 |
|---------|---------|----------|------------------------------------------|---------|
| 0       | 0 < 10  | 참       | 나무를 1번 찍었습니다.                   | 반복    |
| 1       | 1 < 10  | 참       | 나무를 2번 찍었습니다.                   | 반복    |
| 2       | 2 < 10  | 참       | 나무를 3번 찍었습니다.                   | 반복    |
| 3       | 3 < 10  | 참       | 나무를 4번 찍었습니다.                   | 반복    |
| 4       | 4 < 10  | 참       | 나무를 5번 찍었습니다.                   | 반복    |
| 5       | 5 < 10  | 참       | 나무를 6번 찍었습니다.                   | 반복    |
| 6       | 6 < 10  | 참       | 나무를 7번 찍었습니다.                   | 반복    |
| 7       | 7 < 10  | 참       | 나무를 8번 찍었습니다.                   | 반복    |
| 8       | 8 < 10  | 참       | 나무를 9번 찍었습니다.                   | 반복    |
| 9       | 9 < 10  | 참       | 나무를 10번 찍었습니다. 나무 넘어갑니다. | 반복    |
| 10      | 10 < 10 | 거짓     |                                          | 종료    |

In [1]:
num = 9
while num < 10:
    print('행사 취소')
    num += 1
    print(num)
print('행사 진행')

행사 취소
10
행사 진행

# - for

문법 `for 변수 in 반복범위:`
> 반복범위 안에서 계속 반복 수행

Q. 수업을 들은 학생 중 3명은 다음 주 로또에 당첨될 예정이다. for문을 이용해서 작성해보자

In [8]:
students = ['김예지','남춘호','문성준']

for i in students:
    print('\'%s\'님 로또에 당첨 되었습니다.축하드립니다' % i)

'김예지'님 로또에 당첨 되었습니다.축하드립니다
'남춘호'님 로또에 당첨 되었습니다.축하드립니다
'문성준'님 로또에 당첨 되었습니다.축하드립니다

- range

문법 `range(시작값, 멈춤값(해당 숫자 앞에까지), 앞 뒤 값의 차이)`

> for에서 `반복범위`에 리스트, 튜플, 문자열 형태가 사용할 수도 있고 range를 쓸 수도 있다.

> 원리는 iterable한 객체는 `in` 뒤에 사용가능, 중급 수업

In [7]:
for i in range(3): #3까지 나오지 않는다!
    print(i)

0
1
2

In [30]:
for i in range(0,3):
    print(i)

0
1
2

In [31]:
for i in range(0,3,1):
    print(i)

0
1
2

In [35]:
for i in range(0,3,2):
    print(i)

0
2

In [9]:
students

['김예지', '남춘호', '문성준']

In [10]:
for i in students[1:]:
    print('\'%s\'님 로또에 당첨 되었습니다.축하드립니다' % i)

'남춘호'님 로또에 당첨 되었습니다.축하드립니다
'문성준'님 로또에 당첨 되었습니다.축하드립니다

Q. 구구단 2단을 출력하자

In [11]:
for i in range(1,10):
    print('2*%d' % i,'=', 2*i)

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18

- for 중첩
- 블럭(block)의 개념

In [12]:
for i in range(2):
    print('상위 블럭',i)
    for j in range(2,4):
        print('  하위 블럭',j)

상위 블럭 0
  하위 블럭 2
  하위 블럭 3
상위 블럭 1
  하위 블럭 2
  하위 블럭 3

> 네이버 검색해서 타고 가는거, 뉴스 크롤링할 때(경제,사회 - 상위블록, 안에 페이지는 하위블록)

> 상위블록은 하위블록이 모두 반복될 때까지 반복수행이 끝날 수 없다.

> "하위블록은 상위블록의 수행을 위한 선수과목"

> "수1도 안배우고 미적분을 할 순 없다"

- 구구단 만들기

In [13]:
for i in range(1,10):
    print('**%d단**' % i)
    for j in range(1,10):
        print('%d x %d = %d' % (i,j,i*j))
    print() #한 칸 공백 입력 #상위블록 하위블록을 이해하기위해 print()를 하위블록으로 옮겨보고 상위블록으로 옮겨보기도 해봐라

**1단**
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9

**2단**
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

**3단**
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

**4단**
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

**5단**
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

**6단**
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

**7단**
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

**8단**
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

**9단**
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [54]:
for i in range(1,10):
    print('**{}단**'.format(i))
    for j in range(1,10):
        print('{} x {} = {}'.format(i, j, i*j))
    print()

**1단**
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9

**2단**
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

**3단**
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

**4단**
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

**5단**
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

**6단**
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

**7단**
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

**8단**
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

**9단**
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

- break

반복 중에 조건식을 만족할 때 멈추기

In [74]:
for i in range(5):
    print(i)

0
1
2
3
4

In [75]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

- continue

반복 중에 조건식을 만족할 때 건너뛰기

In [77]:
for i in range(5):
    if i % 2 == 0:
        continue
    print(i)

1
3

## 언더바(_)

_의미 3가지

In [22]:
_

3

In [23]:
3

3

In [21]:
_

3

이 언더바는 맨 마지막에 결과로 찍힌 애 호출

In [1]:
for _ in range(2):
    print('hi')

hi
hi

얘는 반복횟수

---

In [0]:
a = 1000
a

1000

In [0]:
a = 1_000
a

1000

파이썬 3.6에서 나왔음  
숫자 안에 _있으면 인식 안한다.  
그냥 0이 너무 많아지면 몇 인지 잘 모르니깐 구분을 쉽게 하기 위해서 사용

# else

In [3]:
for i in 'abc':
    print(i)
else:
    print("완료")

a
b
c
완료

for와 쓰이는 else는 for문이 완벽하게 실행되면 else실행된다.

In [1]:
for i in range(6):
    if i == 5:
        break
    print(i)
else:
    print('실행안되겠지?')

0
1
2
3
4

엄청 큰 데이터 데이터 받아오면서 마냥 기다릴 순 없잖아 else를 쓰면 됨  

책마다 좀 달라 어떤 곳은 else 저렇게 쓰라고 하고 어떤 곳은 쓰지말라함  
이유: 사람들이 잘 몰라서 설명해줘야 하니깐  
근데 쓰면 편하다