# 날짜형 데이터 다루기

- datetime 생성

In [1]:
from datetime import datetime
dt = datetime(2017, 10, 2, 16, 30, 10)
dt

datetime.datetime(2017, 10, 2, 16, 30, 10)

In [2]:
dt.year # minute, second, day

2017

In [3]:
dt.day

2

In [4]:
dt.date() # time()

datetime.date(2017, 10, 2)

- 오늘 일자

In [5]:
datetime.today()

datetime.datetime(2019, 11, 19, 19, 25, 59, 495257)

- datetime to string

In [6]:
dt.strftime('%m/%d/%Y %H:%M:%S')

'10/02/2017 16:30:10'

In [7]:
type(dt)

datetime.datetime

In [8]:
new_dt = dt.strftime('%m/%d/%Y %H:%M:%S')
type(new_dt)

str

- replace

In [9]:
dt

datetime.datetime(2017, 10, 2, 16, 30, 10)

In [10]:
dt1 = dt.replace(day = 1, minute = 0, second = 0)
dt1

datetime.datetime(2017, 10, 1, 16, 30, 10)

- 객체의 차, delta
- `datetime.timedelta`객체 반환

In [29]:
timedelta = dt -  dt1
type(timedelta)

datetime.timedelta

In [31]:
timedelta.days

1

> ? datetime.datetime의 .day는 s가 안붙었는데?

delta는 기간의 차이를 뜻하는 거니깐 기본적으로 여러 일자가 나온다 생각하면 days가 좀 더 올바른 표현

In [30]:
dt1 + timedelta

datetime.datetime(2017, 10, 2, 16, 30, 10)

In [36]:
from datetime import timedelta

In [37]:
dt1

datetime.datetime(2017, 10, 1, 16, 0)

In [38]:
dt1 + timedelta(1)

datetime.datetime(2017, 10, 2, 16, 0)

# 랜덤 모듈

In [1]:
import random

- 랜덤 실수 생성
    - 0부터 1사이의 랜덤 실수를 리턴

In [3]:
random.random()

0.5518187853761937

- 랜덤 실수 생성
    - 2개 숫자 사이의 랜덤 실수를 리턴

In [4]:
random.uniform(1,10)

7.106140672181264

- 랜덤 정수 생성
    - 2개 숫자 사이의 랜덤 정수를 리턴

In [23]:
random.randint?

In [20]:
random.randint(1,10)

10

2번째 인자 포함

In [21]:
import numpy

In [22]:
numpy.random.randint?

## Quiz. 
### 쥉은 2019년 1월 6일부터 정리할 것들을 에버노트에 작성하고 있다. 머리가 금붕어 수준이라 가끔씩 복습을 해줘야 한다. 복습하고자 하는 일자는 최초 작성일부터 현재까지의 랜덤 일자로 정해진다.   
### ex) 오늘 복습해야하는 노트는 2019-10-20 입니다.

In [43]:
start = datetime(2019,1,6)
end = datetime.today()-timedelta(1)
delta = end - start
print('오늘 복습해야하는 노트는',(start + timedelta(random.randint(0,delta.days))).date(),'입니다')

오늘 복습해야하는 노트는 2019-06-18 입니다