# 1. 문제 정의

![](http://mblogthumb2.phinf.naver.net/MjAxNzA0MjZfMTYg/MDAxNDkzMTc0MzcwMzYy.xlREq-xAfGw-QjGk5qmoloxnNoRmzWQ1U9iqPDG-_3Yg.o2ytiA0es2f9Fd5jaKxtIdmf0rP43WAeC63_BizSl0Eg.PNG.yk-story/%EB%AF%B8%EC%84%B8%EB%A8%BC%EC%A7%80_4%ED%83%84_0.png?type=w800)

https://m.blog.naver.com/PostView.nhn?blogId=yk-story&logNo=220992363437&proxyReferer=https%3A%2F%2Fwww.google.com%2F

![](http://ecomedia.co.kr/news/data/20190612/p1065571626499105_796_thum.jpg)

http://ecomedia.co.kr/news/newsview.php?ncode=1065571626499105

> 그러면 동등하게 역마다 배치를 해야할까? 심한 곳에 더 배치를 해야할까?

> ### 미세먼지의 차이를 일단 봐보자

### 필요 데이터
1. 지하철 위치 데이터 ->`지하철 위치 데이터` 검색  
https://data.seoul.go.kr/dataList/datasetView.do?infId=OA-118&srvType=S&serviceKind=1&currentPageNo=1

- 지하철 미세먼지 데이터 -> `지하철 역사내의 미세먼지 데이터`->`지하철 공기질 데이터` 검색  
http://www.seoulmetro.co.kr/kr/board.do?menuIdx=551&bbsIdx=2208439
> 원하는 데이터를 찾아보자, 없으면 정보공개청구 -> 포기

### 미세먼지 정의

입자의 지름이 10마이크로미터 이하인 `미세먼지` PM(particulate matter)10, PM10  
PM2.5는 `초미세먼지`

# 2. 데이터 로드

### package

In [2]:
import pandas as pd

## 2_1. 위치 데이터

In [156]:
pd.read_csv('./data/서울시 역코드로 지하철역 위치 조회.csv')

,전철역코드,전철역명,호선,외부코드,사이버스테이션,X좌표,Y좌표,X좌표(WGS),Y좌표(WGS)
0,2818,가락시장,8,817,2818,525992.0,1108579.0,37.492522,127.118234
1,340,가락시장,3,350,2818,525992.0,1108579.0,37.492522,127.118234
2,2535,종로3가,5,534,153,498060.0,1130332.0,37.571607,126.991806
3,319,종로3가,3,329,153,498060.0,1130332.0,37.571607,126.991806
4,153,종로3가,1,130,153,498060.0,1130332.0,37.571607,126.991806
5,2558,오금,5,P552,2558,528137.0,1111147.0,37.502162,127.128111
6,342,오금,3,352,2558,528137.0,1111147.0,37.502162,127.128111
7,155,동대문,1,128,155,502155.0,1130180.0,37.571420,127.009745
8,421,동대문,4,421,155,502155.0,1130180.0,37.571420,127.009745
9,2537,동대문역사문화공원,5,536,205,501555.0,1128600.0,37.565138,127.007896
10,205,동대문역사문화공원,2,205,205,501555.0,1128600.0,37.565138,127.007896
11,422,동대문역사문화공원,4,422,205,501555.0,1128600.0,37.565138,127.007896
12,321,충무로,3,331,321,498550.0,1127582.0,37.561243,126.994280
13,423,충무로,4,423,321,498550.0,1127582.0,37.561243,126.994280
14,1291,서울,A,A01,150,493365.0,1125595.0,37.554648,126.972559
15,150,서울,1,133,150,493365.0,1125595.0,37.554648,126.972559
16,426,서울,4,426,150,493365.0,1125595.0,37.554648,126.972559
17,234,신도림,2,234,234,475755.0,1112937.0,37.508725,126.891295
18,1007,신도림,1,140,234,475755.0,1112937.0,37.508725,126.891295
19,1008,이촌,K,K111,430,494107.0,1116637.0,37.522272,126.974345
20,430,이촌,4,430,430,494107.0,1116637.0,37.522272,126.974345
21,208,왕십리,2,208,208,508015.0,1127512.0,37.561533,127.037732
22,1845,왕십리,B,K210,208,508015.0,1127512.0,37.561533,127.037732
23,2541,왕십리,5,540,208,508015.0,1127512.0,37.561533,127.037732
24,1013,왕십리,K,K116,208,508015.0,1127512.0,37.561533,127.037732
25,201,시청,2,201,151,494587.0,1128532.0,37.564718,126.977108
26,151,시청,1,132,151,494587.0,1128532.0,37.564718,126.977108
27,223,교대,2,223,330,502900.0,1108655.0,37.493415,127.014080
28,330,교대,3,340,330,502900.0,1108655.0,37.493415,127.014080
29,4713,신설동,UI,953,156,505342.0,1131412.0,37.575297,127.025087
...,...,...,...,...,...,...,...,...,...
899,4607,의정부중앙,U,U117,4607,510990.0,1178050.0,37.743676,127.049565
900,4608,동오,U,U118,4608,512490.0,1178550.0,37.745271,127.056947
901,4609,새말,U,U119,4609,513990.0,1179480.0,37.748885,127.063620
902,4610,경기도청북부청사,U,U120,4610,515700.0,1180050.0,37.750590,127.071495
903,4611,효자,U,U121,4611,517000.0,1180930.0,37.754025,127.076902
904,4612,곤제,U,U122,4612,518200.0,1179980.0,37.750471,127.083715
905,4613,어룡,U,U123,4613,518600.0,1177780.0,37.742802,127.085035
906,4614,송산,U,U124,4614,519100.0,1176280.0,37.737279,127.087159
907,4702,솔밭공원,UI,942,4702,NaN,NaN,NaN,NaN
908,4706,삼양,UI,946,4706,NaN,NaN,NaN,NaN
909,4707,삼양사거리,UI,947,4707,NaN,NaN,NaN,NaN
910,4708,솔샘,UI,948,4708,NaN,NaN,NaN,NaN
911,4709,북한산보국문,UI,949,4709,NaN,NaN,NaN,NaN
912,4710,정릉,UI,950,4710,NaN,NaN,NaN,NaN
913,4311,판교,S,D11,4311,524500.0,1081300.0,37.394761,127.111217
914,1501,판교,KK,K410,4311,524500.0,1081300.0,37.394761,127.111217
915,4314,동천,S,D14,4314,NaN,NaN,37.337928,127.102976
916,4315,수지구청,S,D15,4315,NaN,NaN,37.322702,127.095026
917,4316,성복,S,D16,4316,NaN,NaN,37.313335,127.080100
918,4317,상현,S,D17,4317,NaN,NaN,37.297664,127.069342
919,4318,광교중앙,S,D18,4318,NaN,NaN,37.288617,127.051478
920,4319,광교,S,D19,4319,NaN,NaN,37.302110,127.044483
921,4502,강남대,E,Y111,4502,527800.0,1046600.0,37.270161,127.126033
922,4503,지석,E,Y112,4503,530200.0,1046500.0,37.269606,127.136515
923,4504,어정,E,Y113,4504,531700.0,1048000.0,37.274917,127.143714
924,4505,동백,E,Y114,4505,533700.0,1046500.0,37.269043,127.152716
925,4506,초당,E,Y115,4506,535500.0,1044100.0,37.260752,127.159443
926,4508,삼가,E,Y116,4508,537300.0,1039000.0,37.242115,127.168075
927,4509,시청·용인대,E,Y117,4509,539500.0,1038300.0,37.239151,127.178406
928,4510,명지대,E,Y118,4510,542100.0,1037900.0,37.237964,127.190294

## 2_2. 미세먼지 데이터

In [157]:
pd.read_excel('./data/지하역사 공기질 측정결과 (2018년).xlsx')

    2018년 지하역사 공기질 측정결과 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
0                   호선명        역사명       유지기준        NaN        NaN        NaN
1                   NaN        NaN      PM-10        CO2       HCHO         CO
2                   NaN        NaN        ㎍/㎥        ppm        ㎍/㎥        ppm
3                   NaN        기준치        140       1000        100          9
4                 전체 평균        NaN      83.17    553.866    7.60973    1.11061
5                1호선 평균        NaN         89      561.4       8.61       1.04
6                   1호선        서울역       82.6        522        6.5        0.9
7                   NaN      시   청       96.3      690.7        5.5        0.9
8                   NaN      종   각         93        515        6.9          1
9                   NaN       종로3가       83.9        496        7.6        1.1
10                  NaN       종로5가       92.6      646.3       11.2        0.9
11                  NaN        동대문       89.2        565        9.3        1.1
12                  NaN        동묘앞       77.5        560       10.1        1.2
13                  NaN        신설동         92        574        7.9          1
14                  NaN        제기동         98      527.5        9.7        0.9
15                  NaN        청량리       84.9      517.5       11.4        1.4
16               2호선 평균        NaN    83.8784    562.075    7.78559    1.13874
17                  2호선      시   청       85.9        697        9.7          1
18                  NaN      을지로입구       84.1        617        9.2        1.1
19                  NaN      을지로3가       84.1      663.5         12        1.4
20                  NaN      을지로4가       83.7        624        6.2        1.2
21                  NaN  동대문역사문화공원       77.6      524.5        8.7        1.4
22                  NaN      신   당         84        581        7.1        1.6
23                  NaN       상왕십리       99.6      500.5        9.9        1.7
24                  NaN        왕십리       66.1        536       12.2        1.2
25                  NaN      잠   실       79.3        707       16.4        1.2
26                  NaN       잠실새내       84.4        512       12.4        1.3
27                  NaN      종합운동장       77.3      461.7        4.9        0.9
28                  NaN      삼   성       74.3      599.5        7.3        1.2
29                  NaN      선   릉       87.1      728.5        8.5        1.2
..                  ...        ...        ...        ...        ...        ...
243                 NaN        신중동       78.4        592        6.3        1.1
244                 NaN       부천시청       80.8        566        4.5        1.4
245                 NaN      상   동       84.5        524        8.7        1.2
246                 NaN      삼산체육관       77.9        480          6        1.2
247                 NaN        굴포천         86        491        3.6        1.3
248                 NaN       부평구청       82.1        545        4.3          1
249              8호선 평균        NaN    83.0824    564.294    6.18824    1.44706
250                 8호선      암   사       83.9        576        2.9        1.5
251                 NaN      천   호       86.2        598        3.2        1.4
252                 NaN       강동구청       84.7        529        2.4        1.7
253                 NaN       몽촌토성       79.1        496        5.2        1.3
254                 NaN      잠   실       81.5        755       10.2        1.4
255                 NaN      석   촌       80.6        609        5.1        0.9
256                 NaN      송   파       91.6        562        4.6        1.9
257                 NaN       가락시장         81        535        5.7        1.6
258                 NaN      문   정       86.9        583        4.8        1.9
259                 NaN      장   지       82.6        523        7.3        1.6
260                 NaN      복   정       88.8        594        5.4        1.3
261                 NaN      산   성         88        495        5.5          1
262                 NaN     남한산성입구       79.5        581        4.4          2
263                 NaN      단대오거리       76.4        564        3.5        1.5
264                 NaN      신   흥       75.7        520       15.1        1.4
265                 NaN      수   진       80.1        556       15.3        1.1
266                 NaN      모   란       85.8        517        4.6        1.1
267              9호선 평균        NaN      87.56      561.2        4.2       0.63
268                 9호선         언주      100.3        642        6.2       1.15
269                 NaN        선정릉       88.6        633        5.7        0.7
270                 NaN       삼성중앙       79.9        513          3        0.2
271                 NaN        봉은사       82.4        518        2.8        0.7
272                 NaN      종합운동장       86.6        500        3.3        0.4

[273 rows x 6 columns]

## 우리가 하고자 하는 것. 
> 지하철역 위치에 미세먼지의 심함을 보여주고 싶다.
>> 현재 주어진 데이터는 위치와 미세먼지가 따로 되어 있다.
>>> 둘을 합쳐줘야 한다. 뭘로 합쳐 주면 될까?
>>>> ### 둘의 공통적인 컬럼은 `전철역명`뿐이네

# 3. 데이터 정제

## 3_1. 위치 데이터

In [4]:
coorinate_df = pd.read_csv('./data/서울시 역코드로 지하철역 위치 조회.csv')
coorinate_df

,전철역코드,전철역명,호선,외부코드,사이버스테이션,X좌표,Y좌표,X좌표(WGS),Y좌표(WGS)
0,2818,가락시장,8,817,2818,525992.0,1108579.0,37.492522,127.118234
1,340,가락시장,3,350,2818,525992.0,1108579.0,37.492522,127.118234
2,2535,종로3가,5,534,153,498060.0,1130332.0,37.571607,126.991806
3,319,종로3가,3,329,153,498060.0,1130332.0,37.571607,126.991806
4,153,종로3가,1,130,153,498060.0,1130332.0,37.571607,126.991806
5,2558,오금,5,P552,2558,528137.0,1111147.0,37.502162,127.128111
6,342,오금,3,352,2558,528137.0,1111147.0,37.502162,127.128111
7,155,동대문,1,128,155,502155.0,1130180.0,37.571420,127.009745
8,421,동대문,4,421,155,502155.0,1130180.0,37.571420,127.009745
9,2537,동대문역사문화공원,5,536,205,501555.0,1128600.0,37.565138,127.007896
10,205,동대문역사문화공원,2,205,205,501555.0,1128600.0,37.565138,127.007896
11,422,동대문역사문화공원,4,422,205,501555.0,1128600.0,37.565138,127.007896
12,321,충무로,3,331,321,498550.0,1127582.0,37.561243,126.994280
13,423,충무로,4,423,321,498550.0,1127582.0,37.561243,126.994280
14,1291,서울,A,A01,150,493365.0,1125595.0,37.554648,126.972559
15,150,서울,1,133,150,493365.0,1125595.0,37.554648,126.972559
16,426,서울,4,426,150,493365.0,1125595.0,37.554648,126.972559
17,234,신도림,2,234,234,475755.0,1112937.0,37.508725,126.891295
18,1007,신도림,1,140,234,475755.0,1112937.0,37.508725,126.891295
19,1008,이촌,K,K111,430,494107.0,1116637.0,37.522272,126.974345
20,430,이촌,4,430,430,494107.0,1116637.0,37.522272,126.974345
21,208,왕십리,2,208,208,508015.0,1127512.0,37.561533,127.037732
22,1845,왕십리,B,K210,208,508015.0,1127512.0,37.561533,127.037732
23,2541,왕십리,5,540,208,508015.0,1127512.0,37.561533,127.037732
24,1013,왕십리,K,K116,208,508015.0,1127512.0,37.561533,127.037732
25,201,시청,2,201,151,494587.0,1128532.0,37.564718,126.977108
26,151,시청,1,132,151,494587.0,1128532.0,37.564718,126.977108
27,223,교대,2,223,330,502900.0,1108655.0,37.493415,127.014080
28,330,교대,3,340,330,502900.0,1108655.0,37.493415,127.014080
29,4713,신설동,UI,953,156,505342.0,1131412.0,37.575297,127.025087
...,...,...,...,...,...,...,...,...,...
899,4607,의정부중앙,U,U117,4607,510990.0,1178050.0,37.743676,127.049565
900,4608,동오,U,U118,4608,512490.0,1178550.0,37.745271,127.056947
901,4609,새말,U,U119,4609,513990.0,1179480.0,37.748885,127.063620
902,4610,경기도청북부청사,U,U120,4610,515700.0,1180050.0,37.750590,127.071495
903,4611,효자,U,U121,4611,517000.0,1180930.0,37.754025,127.076902
904,4612,곤제,U,U122,4612,518200.0,1179980.0,37.750471,127.083715
905,4613,어룡,U,U123,4613,518600.0,1177780.0,37.742802,127.085035
906,4614,송산,U,U124,4614,519100.0,1176280.0,37.737279,127.087159
907,4702,솔밭공원,UI,942,4702,NaN,NaN,NaN,NaN
908,4706,삼양,UI,946,4706,NaN,NaN,NaN,NaN
909,4707,삼양사거리,UI,947,4707,NaN,NaN,NaN,NaN
910,4708,솔샘,UI,948,4708,NaN,NaN,NaN,NaN
911,4709,북한산보국문,UI,949,4709,NaN,NaN,NaN,NaN
912,4710,정릉,UI,950,4710,NaN,NaN,NaN,NaN
913,4311,판교,S,D11,4311,524500.0,1081300.0,37.394761,127.111217
914,1501,판교,KK,K410,4311,524500.0,1081300.0,37.394761,127.111217
915,4314,동천,S,D14,4314,NaN,NaN,37.337928,127.102976
916,4315,수지구청,S,D15,4315,NaN,NaN,37.322702,127.095026
917,4316,성복,S,D16,4316,NaN,NaN,37.313335,127.080100
918,4317,상현,S,D17,4317,NaN,NaN,37.297664,127.069342
919,4318,광교중앙,S,D18,4318,NaN,NaN,37.288617,127.051478
920,4319,광교,S,D19,4319,NaN,NaN,37.302110,127.044483
921,4502,강남대,E,Y111,4502,527800.0,1046600.0,37.270161,127.126033
922,4503,지석,E,Y112,4503,530200.0,1046500.0,37.269606,127.136515
923,4504,어정,E,Y113,4504,531700.0,1048000.0,37.274917,127.143714
924,4505,동백,E,Y114,4505,533700.0,1046500.0,37.269043,127.152716
925,4506,초당,E,Y115,4506,535500.0,1044100.0,37.260752,127.159443
926,4508,삼가,E,Y116,4508,537300.0,1039000.0,37.242115,127.168075
927,4509,시청·용인대,E,Y117,4509,539500.0,1038300.0,37.239151,127.178406
928,4510,명지대,E,Y118,4510,542100.0,1037900.0,37.237964,127.190294

In [5]:
pd.Series(coorinate_df.columns)

0       전철역코드
1        전철역명
2          호선
3        외부코드
4     사이버스테이션
5         X좌표
6         Y좌표
7    X좌표(WGS)
8    Y좌표(WGS)
dtype: object

In [6]:
coorinate_df.iloc[:,[1,7,8]]

          전철역명   X좌표(WGS)    Y좌표(WGS)
0         가락시장  37.492522  127.118234
1         가락시장  37.492522  127.118234
2         종로3가  37.571607  126.991806
3         종로3가  37.571607  126.991806
4         종로3가  37.571607  126.991806
5           오금  37.502162  127.128111
6           오금  37.502162  127.128111
7          동대문  37.571420  127.009745
8          동대문  37.571420  127.009745
9    동대문역사문화공원  37.565138  127.007896
10   동대문역사문화공원  37.565138  127.007896
11   동대문역사문화공원  37.565138  127.007896
12         충무로  37.561243  126.994280
13         충무로  37.561243  126.994280
14          서울  37.554648  126.972559
15          서울  37.554648  126.972559
16          서울  37.554648  126.972559
17         신도림  37.508725  126.891295
18         신도림  37.508725  126.891295
19          이촌  37.522272  126.974345
20          이촌  37.522272  126.974345
21         왕십리  37.561533  127.037732
22         왕십리  37.561533  127.037732
23         왕십리  37.561533  127.037732
24         왕십리  37.561533  127.037732
25          시청  37.564718  126.977108
26          시청  37.564718  126.977108
27          교대  37.493415  127.014080
28          교대  37.493415  127.014080
29         신설동  37.575297  127.025087
..         ...        ...         ...
899      의정부중앙  37.743676  127.049565
900         동오  37.745271  127.056947
901         새말  37.748885  127.063620
902   경기도청북부청사  37.750590  127.071495
903         효자  37.754025  127.076902
904         곤제  37.750471  127.083715
905         어룡  37.742802  127.085035
906         송산  37.737279  127.087159
907       솔밭공원        NaN         NaN
908         삼양        NaN         NaN
909      삼양사거리        NaN         NaN
910         솔샘        NaN         NaN
911     북한산보국문        NaN         NaN
912         정릉        NaN         NaN
913         판교  37.394761  127.111217
914         판교  37.394761  127.111217
915         동천  37.337928  127.102976
916       수지구청  37.322702  127.095026
917         성복  37.313335  127.080100
918         상현  37.297664  127.069342
919       광교중앙  37.288617  127.051478
920         광교  37.302110  127.044483
921        강남대  37.270161  127.126033
922         지석  37.269606  127.136515
923         어정  37.274917  127.143714
924         동백  37.269043  127.152716
925         초당  37.260752  127.159443
926         삼가  37.242115  127.168075
927     시청·용인대  37.239151  127.178406
928        명지대  37.237964  127.190294

[929 rows x 3 columns]

In [7]:
coorinate_df=coorinate_df.iloc[:,[1,7,8]]
coorinate_df.head()

   전철역명   X좌표(WGS)    Y좌표(WGS)
0  가락시장  37.492522  127.118234
1  가락시장  37.492522  127.118234
2  종로3가  37.571607  126.991806
3  종로3가  37.571607  126.991806
4  종로3가  37.571607  126.991806

### na확인

In [8]:
coorinate_df.isna().sum()

전철역명         0
X좌표(WGS)    14
Y좌표(WGS)    14
dtype: int64

In [9]:
coorinate_df.dropna?

In [10]:
coorinate_df.dropna(axis=0)

          전철역명   X좌표(WGS)    Y좌표(WGS)
0         가락시장  37.492522  127.118234
1         가락시장  37.492522  127.118234
2         종로3가  37.571607  126.991806
3         종로3가  37.571607  126.991806
4         종로3가  37.571607  126.991806
5           오금  37.502162  127.128111
6           오금  37.502162  127.128111
7          동대문  37.571420  127.009745
8          동대문  37.571420  127.009745
9    동대문역사문화공원  37.565138  127.007896
10   동대문역사문화공원  37.565138  127.007896
11   동대문역사문화공원  37.565138  127.007896
12         충무로  37.561243  126.994280
13         충무로  37.561243  126.994280
14          서울  37.554648  126.972559
15          서울  37.554648  126.972559
16          서울  37.554648  126.972559
17         신도림  37.508725  126.891295
18         신도림  37.508725  126.891295
19          이촌  37.522272  126.974345
20          이촌  37.522272  126.974345
21         왕십리  37.561533  127.037732
22         왕십리  37.561533  127.037732
23         왕십리  37.561533  127.037732
24         왕십리  37.561533  127.037732
25          시청  37.564718  126.977108
26          시청  37.564718  126.977108
27          교대  37.493415  127.014080
28          교대  37.493415  127.014080
29         신설동  37.575297  127.025087
..         ...        ...         ...
893    전대·에버랜드  37.285342  127.219561
894         발곡  37.727048  127.052803
895         범골  37.728755  127.043530
896     경전철의정부  37.737202  127.043257
897      의정부시청  37.739256  127.034781
898         흥선  37.743302  127.037023
899      의정부중앙  37.743676  127.049565
900         동오  37.745271  127.056947
901         새말  37.748885  127.063620
902   경기도청북부청사  37.750590  127.071495
903         효자  37.754025  127.076902
904         곤제  37.750471  127.083715
905         어룡  37.742802  127.085035
906         송산  37.737279  127.087159
913         판교  37.394761  127.111217
914         판교  37.394761  127.111217
915         동천  37.337928  127.102976
916       수지구청  37.322702  127.095026
917         성복  37.313335  127.080100
918         상현  37.297664  127.069342
919       광교중앙  37.288617  127.051478
920         광교  37.302110  127.044483
921        강남대  37.270161  127.126033
922         지석  37.269606  127.136515
923         어정  37.274917  127.143714
924         동백  37.269043  127.152716
925         초당  37.260752  127.159443
926         삼가  37.242115  127.168075
927     시청·용인대  37.239151  127.178406
928        명지대  37.237964  127.190294

[915 rows x 3 columns]

In [11]:
len(coorinate_df)-14

915

In [12]:
len(coorinate_df.dropna(axis=0))

915

In [13]:
assert (len(coorinate_df)-14) == len(coorinate_df.dropna(axis=0))

In [14]:
coorinate_df=coorinate_df.dropna(axis=0)

### 인덱스정리

In [15]:
coorinate_df.tail()

       전철역명   X좌표(WGS)    Y좌표(WGS)
924      동백  37.269043  127.152716
925      초당  37.260752  127.159443
926      삼가  37.242115  127.168075
927  시청·용인대  37.239151  127.178406
928     명지대  37.237964  127.190294

In [16]:
coorinate_df.reset_index().tail()

     index    전철역명   X좌표(WGS)    Y좌표(WGS)
910    924      동백  37.269043  127.152716
911    925      초당  37.260752  127.159443
912    926      삼가  37.242115  127.168075
913    927  시청·용인대  37.239151  127.178406
914    928     명지대  37.237964  127.190294

In [17]:
coorinate_df.reset_index(drop=True).tail()

       전철역명   X좌표(WGS)    Y좌표(WGS)
910      동백  37.269043  127.152716
911      초당  37.260752  127.159443
912      삼가  37.242115  127.168075
913  시청·용인대  37.239151  127.178406
914     명지대  37.237964  127.190294

In [18]:
coorinate_df = coorinate_df.reset_index(drop=True)

In [19]:
coorinate_df.tail()

       전철역명   X좌표(WGS)    Y좌표(WGS)
910      동백  37.269043  127.152716
911      초당  37.260752  127.159443
912      삼가  37.242115  127.168075
913  시청·용인대  37.239151  127.178406
914     명지대  37.237964  127.190294

### 중복제거

In [20]:
coorinate_df.head()

   전철역명   X좌표(WGS)    Y좌표(WGS)
0  가락시장  37.492522  127.118234
1  가락시장  37.492522  127.118234
2  종로3가  37.571607  126.991806
3  종로3가  37.571607  126.991806
4  종로3가  37.571607  126.991806

In [21]:
coorinate_df.duplicated('전철역명')[:5]

0    False
1     True
2    False
3     True
4     True
dtype: bool

In [22]:
coorinate_df.drop_duplicates('전철역명',keep='first')

          전철역명   X좌표(WGS)    Y좌표(WGS)
0         가락시장  37.492522  127.118234
2         종로3가  37.571607  126.991806
5           오금  37.502162  127.128111
7          동대문  37.571420  127.009745
9    동대문역사문화공원  37.565138  127.007896
12         충무로  37.561243  126.994280
14          서울  37.554648  126.972559
17         신도림  37.508725  126.891295
19          이촌  37.522272  126.974345
21         왕십리  37.561533  127.037732
25          시청  37.564718  126.977108
27          교대  37.493415  127.014080
29         신설동  37.575297  127.025087
32          강변  37.535095  127.094681
33         까치산  37.531768  126.846683
38       을지로3가  37.566295  126.991910
40        홍대입구  37.557192  126.925381
43         광운대  37.623632  127.061835
45          상봉  37.596362  127.085032
48          망우  37.599550  127.091909
50       영등포구청  37.524970  126.895951
52          신길  37.517122  126.917169
57       을지로4가  37.566941  126.998079
59          합정  37.549463  126.913739
61          공덕  37.544018  126.951592
65         삼각지  37.534777  126.973110
67          약수  37.554340  127.010655
69          신당  37.565972  127.017820
71         동묘앞  37.572627  127.016429
73          석계  37.614805  127.065851
..         ...        ...         ...
883         보평  37.258965  127.218457
884         둔전  37.267051  127.213640
885    전대·에버랜드  37.285342  127.219561
886         발곡  37.727048  127.052803
887         범골  37.728755  127.043530
888     경전철의정부  37.737202  127.043257
889      의정부시청  37.739256  127.034781
890         흥선  37.743302  127.037023
891      의정부중앙  37.743676  127.049565
892         동오  37.745271  127.056947
893         새말  37.748885  127.063620
894   경기도청북부청사  37.750590  127.071495
895         효자  37.754025  127.076902
896         곤제  37.750471  127.083715
897         어룡  37.742802  127.085035
898         송산  37.737279  127.087159
901         동천  37.337928  127.102976
902       수지구청  37.322702  127.095026
903         성복  37.313335  127.080100
904         상현  37.297664  127.069342
905       광교중앙  37.288617  127.051478
906         광교  37.302110  127.044483
907        강남대  37.270161  127.126033
908         지석  37.269606  127.136515
909         어정  37.274917  127.143714
910         동백  37.269043  127.152716
911         초당  37.260752  127.159443
912         삼가  37.242115  127.168075
913     시청·용인대  37.239151  127.178406
914        명지대  37.237964  127.190294

[577 rows x 3 columns]

In [23]:
coorinate_df.drop_duplicates('전철역명',keep='last')

         전철역명   X좌표(WGS)    Y좌표(WGS)
32         강변  37.535095  127.094681
56       종로3가  37.571607  126.991806
239        종각  37.570161  126.982923
240      종로5가  37.570926  127.001849
242       동대문  37.571420  127.009745
244       충무로  37.561243  126.994280
247       신설동  37.575297  127.025087
248       제기동  37.578103  127.034893
251       청량리  37.580178  127.046835
253       동묘앞  37.572627  127.016429
254     을지로입구  37.566014  126.982618
256     을지로3가  37.566295  126.991910
257        탑석  37.733579  127.088704
259        용산  37.529849  126.964561
260        한티  37.496237  127.052873
261        구룡  37.486839  127.058856
262        홍제  37.589066  126.943736
263       김유정  37.818466  127.714340
264       남춘천  37.864007  127.723792
265      성균관대  37.300349  126.970750
267        수서  37.487371  127.101880
268      경찰병원  37.495918  127.124540
269        구일  37.496756  126.870793
270        야탑  37.411185  127.128715
271        삼송  37.653083  126.895558
272        화정  37.634592  126.832650
273     영등포시장  37.522669  126.905139
274       상일동  37.556712  127.166417
275        공릉  37.625742  127.072896
276        상도  37.502834  126.947910
..        ...        ...         ...
884        둔전  37.267051  127.213640
885   전대·에버랜드  37.285342  127.219561
886        발곡  37.727048  127.052803
887        범골  37.728755  127.043530
888    경전철의정부  37.737202  127.043257
889     의정부시청  37.739256  127.034781
890        흥선  37.743302  127.037023
891     의정부중앙  37.743676  127.049565
892        동오  37.745271  127.056947
893        새말  37.748885  127.063620
894  경기도청북부청사  37.750590  127.071495
895        효자  37.754025  127.076902
896        곤제  37.750471  127.083715
897        어룡  37.742802  127.085035
898        송산  37.737279  127.087159
900        판교  37.394761  127.111217
901        동천  37.337928  127.102976
902      수지구청  37.322702  127.095026
903        성복  37.313335  127.080100
904        상현  37.297664  127.069342
905      광교중앙  37.288617  127.051478
906        광교  37.302110  127.044483
907       강남대  37.270161  127.126033
908        지석  37.269606  127.136515
909        어정  37.274917  127.143714
910        동백  37.269043  127.152716
911        초당  37.260752  127.159443
912        삼가  37.242115  127.168075
913    시청·용인대  37.239151  127.178406
914       명지대  37.237964  127.190294

[577 rows x 3 columns]

In [24]:
coorinate_df[coorinate_df['전철역명']=='가락시장']

     전철역명   X좌표(WGS)    Y좌표(WGS)
0    가락시장  37.492522  127.118234
1    가락시장  37.492522  127.118234
790  가락시장  37.492522  127.118234
791  가락시장  37.492522  127.118234

In [25]:
coorinate_df=coorinate_df.drop_duplicates('전철역명',keep='first')

In [26]:
coorinate_df.head()

        전철역명   X좌표(WGS)    Y좌표(WGS)
0       가락시장  37.492522  127.118234
2       종로3가  37.571607  126.991806
5         오금  37.502162  127.128111
7        동대문  37.571420  127.009745
9  동대문역사문화공원  37.565138  127.007896

## 3_2. 미세먼지 데이터

In [273]:
pd.read_excel('./data/지하역사 공기질 측정결과 (2018년).xlsx')

    2018년 지하역사 공기질 측정결과 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
0                   호선명        역사명       유지기준        NaN        NaN        NaN
1                   NaN        NaN      PM-10        CO2       HCHO         CO
2                   NaN        NaN        ㎍/㎥        ppm        ㎍/㎥        ppm
3                   NaN        기준치        140       1000        100          9
4                 전체 평균        NaN      83.17    553.866    7.60973    1.11061
5                1호선 평균        NaN         89      561.4       8.61       1.04
6                   1호선        서울역       82.6        522        6.5        0.9
7                   NaN      시   청       96.3      690.7        5.5        0.9
8                   NaN      종   각         93        515        6.9          1
9                   NaN       종로3가       83.9        496        7.6        1.1
10                  NaN       종로5가       92.6      646.3       11.2        0.9
11                  NaN        동대문       89.2        565        9.3        1.1
12                  NaN        동묘앞       77.5        560       10.1        1.2
13                  NaN        신설동         92        574        7.9          1
14                  NaN        제기동         98      527.5        9.7        0.9
15                  NaN        청량리       84.9      517.5       11.4        1.4
16               2호선 평균        NaN    83.8784    562.075    7.78559    1.13874
17                  2호선      시   청       85.9        697        9.7          1
18                  NaN      을지로입구       84.1        617        9.2        1.1
19                  NaN      을지로3가       84.1      663.5         12        1.4
20                  NaN      을지로4가       83.7        624        6.2        1.2
21                  NaN  동대문역사문화공원       77.6      524.5        8.7        1.4
22                  NaN      신   당         84        581        7.1        1.6
23                  NaN       상왕십리       99.6      500.5        9.9        1.7
24                  NaN        왕십리       66.1        536       12.2        1.2
25                  NaN      잠   실       79.3        707       16.4        1.2
26                  NaN       잠실새내       84.4        512       12.4        1.3
27                  NaN      종합운동장       77.3      461.7        4.9        0.9
28                  NaN      삼   성       74.3      599.5        7.3        1.2
29                  NaN      선   릉       87.1      728.5        8.5        1.2
..                  ...        ...        ...        ...        ...        ...
243                 NaN        신중동       78.4        592        6.3        1.1
244                 NaN       부천시청       80.8        566        4.5        1.4
245                 NaN      상   동       84.5        524        8.7        1.2
246                 NaN      삼산체육관       77.9        480          6        1.2
247                 NaN        굴포천         86        491        3.6        1.3
248                 NaN       부평구청       82.1        545        4.3          1
249              8호선 평균        NaN    83.0824    564.294    6.18824    1.44706
250                 8호선      암   사       83.9        576        2.9        1.5
251                 NaN      천   호       86.2        598        3.2        1.4
252                 NaN       강동구청       84.7        529        2.4        1.7
253                 NaN       몽촌토성       79.1        496        5.2        1.3
254                 NaN      잠   실       81.5        755       10.2        1.4
255                 NaN      석   촌       80.6        609        5.1        0.9
256                 NaN      송   파       91.6        562        4.6        1.9
257                 NaN       가락시장         81        535        5.7        1.6
258                 NaN      문   정       86.9        583        4.8        1.9
259                 NaN      장   지       82.6        523        7.3        1.6
260                 NaN      복   정       88.8        594        5.4        1.3
261                 NaN      산   성         88        495        5.5          1
262                 NaN     남한산성입구       79.5        581        4.4          2
263                 NaN      단대오거리       76.4        564        3.5        1.5
264                 NaN      신   흥       75.7        520       15.1        1.4
265                 NaN      수   진       80.1        556       15.3        1.1
266                 NaN      모   란       85.8        517        4.6        1.1
267              9호선 평균        NaN      87.56      561.2        4.2       0.63
268                 9호선         언주      100.3        642        6.2       1.15
269                 NaN        선정릉       88.6        633        5.7        0.7
270                 NaN       삼성중앙       79.9        513          3        0.2
271                 NaN        봉은사       82.4        518        2.8        0.7
272                 NaN      종합운동장       86.6        500        3.3        0.4

[273 rows x 6 columns]

기본적으로 읽어올 때 제일 위에 있는 0번째 줄을 header/column으로 인식한다.

In [27]:
air_df=pd.read_excel('./data/지하역사 공기질 측정결과 (2018년).xlsx',header=[2])
air_df

    Unnamed: 0 Unnamed: 1    PM-10      CO2     HCHO       CO
0          NaN        NaN      ㎍/㎥      ppm      ㎍/㎥      ppm
1          NaN        기준치      140     1000      100        9
2        전체 평균        NaN    83.17  553.866  7.60973  1.11061
3       1호선 평균        NaN       89    561.4     8.61     1.04
4          1호선        서울역     82.6      522      6.5      0.9
5          NaN      시   청     96.3    690.7      5.5      0.9
6          NaN      종   각       93      515      6.9        1
7          NaN       종로3가     83.9      496      7.6      1.1
8          NaN       종로5가     92.6    646.3     11.2      0.9
9          NaN        동대문     89.2      565      9.3      1.1
10         NaN        동묘앞     77.5      560     10.1      1.2
11         NaN        신설동       92      574      7.9        1
12         NaN        제기동       98    527.5      9.7      0.9
13         NaN        청량리     84.9    517.5     11.4      1.4
14      2호선 평균        NaN  83.8784  562.075  7.78559  1.13874
15         2호선      시   청     85.9      697      9.7        1
16         NaN      을지로입구     84.1      617      9.2      1.1
17         NaN      을지로3가     84.1    663.5       12      1.4
18         NaN      을지로4가     83.7      624      6.2      1.2
19         NaN  동대문역사문화공원     77.6    524.5      8.7      1.4
20         NaN      신   당       84      581      7.1      1.6
21         NaN       상왕십리     99.6    500.5      9.9      1.7
22         NaN        왕십리     66.1      536     12.2      1.2
23         NaN      잠   실     79.3      707     16.4      1.2
24         NaN       잠실새내     84.4      512     12.4      1.3
25         NaN      종합운동장     77.3    461.7      4.9      0.9
26         NaN      삼   성     74.3    599.5      7.3      1.2
27         NaN      선   릉     87.1    728.5      8.5      1.2
28         NaN      역   삼     87.8    588.5      8.7      1.5
29         NaN      강   남     86.7    782.5     17.2      1.5
..         ...        ...      ...      ...      ...      ...
241        NaN        신중동     78.4      592      6.3      1.1
242        NaN       부천시청     80.8      566      4.5      1.4
243        NaN      상   동     84.5      524      8.7      1.2
244        NaN      삼산체육관     77.9      480        6      1.2
245        NaN        굴포천       86      491      3.6      1.3
246        NaN       부평구청     82.1      545      4.3        1
247     8호선 평균        NaN  83.0824  564.294  6.18824  1.44706
248        8호선      암   사     83.9      576      2.9      1.5
249        NaN      천   호     86.2      598      3.2      1.4
250        NaN       강동구청     84.7      529      2.4      1.7
251        NaN       몽촌토성     79.1      496      5.2      1.3
252        NaN      잠   실     81.5      755     10.2      1.4
253        NaN      석   촌     80.6      609      5.1      0.9
254        NaN      송   파     91.6      562      4.6      1.9
255        NaN       가락시장       81      535      5.7      1.6
256        NaN      문   정     86.9      583      4.8      1.9
257        NaN      장   지     82.6      523      7.3      1.6
258        NaN      복   정     88.8      594      5.4      1.3
259        NaN      산   성       88      495      5.5        1
260        NaN     남한산성입구     79.5      581      4.4        2
261        NaN      단대오거리     76.4      564      3.5      1.5
262        NaN      신   흥     75.7      520     15.1      1.4
263        NaN      수   진     80.1      556     15.3      1.1
264        NaN      모   란     85.8      517      4.6      1.1
265     9호선 평균        NaN    87.56    561.2      4.2     0.63
266        9호선         언주    100.3      642      6.2     1.15
267        NaN        선정릉     88.6      633      5.7      0.7
268        NaN       삼성중앙     79.9      513        3      0.2
269        NaN        봉은사     82.4      518      2.8      0.7
270        NaN      종합운동장     86.6      500      3.3      0.4

[271 rows x 6 columns]

### na확인

In [28]:
air_df['PM-10'].isna().sum()

0

### 필요한 데이터만 남기기

In [29]:
pd.Series(air_df.columns)

0    Unnamed: 0
1    Unnamed: 1
2         PM-10
3           CO2
4          HCHO
5            CO
dtype: object

In [30]:
air_df = air_df.iloc[:,1:3]
air_df

    Unnamed: 1    PM-10
0          NaN      ㎍/㎥
1          기준치      140
2          NaN    83.17
3          NaN       89
4          서울역     82.6
5        시   청     96.3
6        종   각       93
7         종로3가     83.9
8         종로5가     92.6
9          동대문     89.2
10         동묘앞     77.5
11         신설동       92
12         제기동       98
13         청량리     84.9
14         NaN  83.8784
15       시   청     85.9
16       을지로입구     84.1
17       을지로3가     84.1
18       을지로4가     83.7
19   동대문역사문화공원     77.6
20       신   당       84
21        상왕십리     99.6
22         왕십리     66.1
23       잠   실     79.3
24        잠실새내     84.4
25       종합운동장     77.3
26       삼   성     74.3
27       선   릉     87.1
28       역   삼     87.8
29       강   남     86.7
..         ...      ...
241        신중동     78.4
242       부천시청     80.8
243      상   동     84.5
244      삼산체육관     77.9
245        굴포천       86
246       부평구청     82.1
247        NaN  83.0824
248      암   사     83.9
249      천   호     86.2
250       강동구청     84.7
251       몽촌토성     79.1
252      잠   실     81.5
253      석   촌     80.6
254      송   파     91.6
255       가락시장       81
256      문   정     86.9
257      장   지     82.6
258      복   정     88.8
259      산   성       88
260     남한산성입구     79.5
261      단대오거리     76.4
262      신   흥     75.7
263      수   진     80.1
264      모   란     85.8
265        NaN    87.56
266         언주    100.3
267        선정릉     88.6
268       삼성중앙     79.9
269        봉은사     82.4
270      종합운동장     86.6

[271 rows x 2 columns]

In [31]:
air_df.columns = ['전철역명','PM-10']

In [32]:
air_df[:10]

    전철역명  PM-10
0    NaN    ㎍/㎥
1    기준치    140
2    NaN  83.17
3    NaN     89
4    서울역   82.6
5  시   청   96.3
6  종   각     93
7   종로3가   83.9
8   종로5가   92.6
9    동대문   89.2

## 데이터 합치기

5행에 전철역명이 `시 청`이 사이에 한 칸 뛰어져 있다. 그러면 위치데이터에 있는 `시청`이랑 똑같은 데이터가 아니라 합쳐질 수 없다.

In [33]:
air_df['전철역명'].str.replace(' ','')

0            NaN
1            기준치
2            NaN
3            NaN
4            서울역
5             시청
6             종각
7           종로3가
8           종로5가
9            동대문
10           동묘앞
11           신설동
12           제기동
13           청량리
14           NaN
15            시청
16         을지로입구
17         을지로3가
18         을지로4가
19     동대문역사문화공원
20            신당
21          상왕십리
22           왕십리
23            잠실
24          잠실새내
25         종합운동장
26            삼성
27            선릉
28            역삼
29            강남
         ...
241          신중동
242         부천시청
243           상동
244        삼산체육관
245          굴포천
246         부평구청
247          NaN
248           암사
249           천호
250         강동구청
251         몽촌토성
252           잠실
253           석촌
254           송파
255         가락시장
256           문정
257           장지
258           복정
259           산성
260       남한산성입구
261        단대오거리
262           신흥
263           수진
264           모란
265          NaN
266           언주
267          선정릉
268         삼성중앙
269          봉은사
270        종합운동장
Name: 전철역명, Length: 271, dtype: object

In [34]:
air_df['전철역명']=air_df['전철역명'].str.replace(' ','')
air_df[:10]

C:\Users\beluga\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   전철역명  PM-10
0   NaN    ㎍/㎥
1   기준치    140
2   NaN  83.17
3   NaN     89
4   서울역   82.6
5    시청   96.3
6    종각     93
7  종로3가   83.9
8  종로5가   92.6
9   동대문   89.2

In [35]:
air_df.iloc[5,0]

'시청'

In [36]:
sichung = air_df.iloc[5,0]

In [37]:
coorinate_df['전철역명']=='시청'

0      False
2      False
5      False
7      False
9      False
12     False
14     False
17     False
19     False
21     False
25      True
27     False
29     False
32     False
33     False
38     False
40     False
43     False
45     False
48     False
50     False
52     False
57     False
59     False
61     False
65     False
67     False
69     False
71     False
73     False
       ...
883    False
884    False
885    False
886    False
887    False
888    False
889    False
890    False
891    False
892    False
893    False
894    False
895    False
896    False
897    False
898    False
901    False
902    False
903    False
904    False
905    False
906    False
907    False
908    False
909    False
910    False
911    False
912    False
913    False
914    False
Name: 전철역명, Length: 577, dtype: bool

In [38]:
coorinate_df[coorinate_df['전철역명']=='시청']

   전철역명   X좌표(WGS)    Y좌표(WGS)
25   시청  37.564718  126.977108

In [39]:
coorinate_df[coorinate_df['전철역명']==sichung]

   전철역명   X좌표(WGS)    Y좌표(WGS)
25   시청  37.564718  126.977108

>같다!

### 중복 제거

In [40]:
air_df[air_df['전철역명']=='시청']

   전철역명 PM-10
5    시청  96.3
15   시청  85.9

In [56]:
air_df.drop_duplicates('전철역명',keep='first')

          전철역명  PM-10
0          NaN    ㎍/㎥
1          기준치    140
4          서울역   82.6
5           시청   96.3
6           종각     93
7         종로3가   83.9
8         종로5가   92.6
9          동대문   89.2
10         동묘앞   77.5
11         신설동     92
12         제기동     98
13         청량리   84.9
16       을지로입구   84.1
17       을지로3가   84.1
18       을지로4가   83.7
19   동대문역사문화공원   77.6
20          신당     84
21        상왕십리   99.6
22         왕십리   66.1
23          잠실   79.3
24        잠실새내   84.4
25       종합운동장   77.3
26          삼성   74.3
27          선릉   87.1
28          역삼   87.8
29          강남   86.7
30          교대   93.8
31          서초   87.2
32          방배   78.7
33          사당     92
..         ...    ...
235      광명사거리   87.7
236         천왕   81.4
237         온수   76.8
238        까치울   80.6
239    부천종합운동장     77
240         춘의   74.2
241        신중동   78.4
242       부천시청   80.8
243         상동   84.5
244      삼산체육관   77.9
245        굴포천     86
246       부평구청   82.1
248         암사   83.9
250       강동구청   84.7
251       몽촌토성   79.1
253         석촌   80.6
254         송파   91.6
256         문정   86.9
257         장지   82.6
258         복정   88.8
259         산성     88
260     남한산성입구   79.5
261      단대오거리   76.4
262         신흥   75.7
263         수진   80.1
264         모란   85.8
266         언주  100.3
267        선정릉   88.6
268       삼성중앙   79.9
269        봉은사   82.4

[228 rows x 2 columns]

이렇게 하면 PM-10수치와 관련없이 중복된 것 중에 앞에것만 가져오는 문제점

In [55]:
air_df[air_df['전철역명']=='종로3가']

     전철역명 PM-10
7    종로3가  83.9
61   종로3가  75.5
132  종로3가    84

In [57]:
air_df.sort_values(['전철역명','PM-10'],ascending=True)

        전철역명    PM-10
66      가락시장     76.9
255     가락시장       81
233  가산디지털단지     86.2
29        강남     86.7
217     강남구청     80.7
146       강동     89.5
250     강동구청     84.7
156       개롱     83.6
109      개화산     60.2
157       거여     80.4
215     건대입구     76.3
60       경복궁     87.6
65      경찰병원       75
150       고덕     78.9
190      고려대     59.6
221    고속터미널     86.8
77     고속터미널     89.9
127       공덕     84.1
176       공덕       92
204       공릉     86.3
144      광나루     71.4
235    광명사거리     87.7
131      광화문     80.4
174      광흥창       93
76        교대     76.8
30        교대     93.8
165       구산       67
53       구파발    90.75
213       군자       84
142       군자     84.1
..       ...      ...
129      충정로     70.3
49       충정로       86
205     태릉입구       86
195     태릉입구     92.3
203       하계     77.1
218       학동     80.5
70       학여울     82.2
181      한강진     84.8
92     한성대입구    76.65
44        합정       79
172       합정     87.4
137       행당     75.1
93        혜화     88.8
45      홍대입구     86.3
57        홍제     92.9
115       화곡     70.3
196      화랑대     76.3
98        회현     89.4
177    효창공원앞     60.5
107      NaN  74.8294
159      NaN  78.0737
52       NaN  82.4068
198      NaN    82.45
247      NaN  83.0824
2        NaN    83.17
14       NaN  83.8784
85       NaN  87.2492
265      NaN    87.56
3        NaN       89
0        NaN      ㎍/㎥

[271 rows x 2 columns]

In [58]:
air_df=air_df.sort_values(['전철역명','PM-10'],ascending=True)

In [59]:
air_df[air_df['전철역명']=='종로3가']

     전철역명 PM-10
61   종로3가  75.5
7    종로3가  83.9
132  종로3가    84

In [60]:
air_df=air_df.drop_duplicates('전철역명',keep='last')

In [61]:
air_df

        전철역명    PM-10
255     가락시장       81
233  가산디지털단지     86.2
29        강남     86.7
217     강남구청     80.7
146       강동     89.5
250     강동구청     84.7
156       개롱     83.6
109      개화산     60.2
157       거여     80.4
215     건대입구     76.3
60       경복궁     87.6
65      경찰병원       75
150       고덕     78.9
190      고려대     59.6
77     고속터미널     89.9
176       공덕       92
204       공릉     86.3
144      광나루     71.4
235    광명사거리     87.7
131      광화문     80.4
174      광흥창       93
30        교대     93.8
165       구산       67
53       구파발    90.75
142       군자     84.1
245      굴포천       86
148     굽은다리     77.4
81        금호     72.6
1        기준치      140
147       길동     67.6
..       ...      ...
212       중곡       86
207       중화     76.3
167       증산     57.9
187       창신     91.2
236       천왕     81.4
249       천호     86.2
234       철산     84.6
184       청구     78.4
216       청담     79.2
13       청량리     84.9
104    총신대입구     96.8
240       춘의     74.2
96       충무로  86.6333
49       충정로       86
195     태릉입구     92.3
203       하계     77.1
218       학동     80.5
70       학여울     82.2
181      한강진     84.8
92     한성대입구    76.65
172       합정     87.4
137       행당     75.1
93        혜화     88.8
45      홍대입구     86.3
57        홍제     92.9
115       화곡     70.3
196      화랑대     76.3
98        회현     89.4
177    효창공원앞     60.5
0        NaN      ㎍/㎥

[228 rows x 2 columns]

In [62]:
air_df[air_df['전철역명']=='시청']

  전철역명 PM-10
5   시청  96.3

이제 합쳐보자  
`join` 검색

![](https://letsdobigdata.files.wordpress.com/2016/03/joins.png?w=800)

In [63]:
pd.merge(coorinate_df, air_df, on='전철역명', how='inner')

          전철역명   X좌표(WGS)    Y좌표(WGS)    PM-10
0         가락시장  37.492522  127.118234       81
1         종로3가  37.571607  126.991806       84
2           오금  37.502162  127.128111     85.8
3          동대문  37.571420  127.009745     93.2
4    동대문역사문화공원  37.565138  127.007896     95.1
5          충무로  37.561243  126.994280  86.6333
6          신도림  37.508725  126.891295     78.7
7           이촌  37.522272  126.974345    84.15
8          왕십리  37.561533  127.037732     84.6
9           시청  37.564718  126.977108     96.3
10          교대  37.493415  127.014080     93.8
11         신설동  37.575297  127.025087     95.7
12         까치산  37.531768  126.846683     69.1
13       을지로3가  37.566295  126.991910     93.4
14        홍대입구  37.557192  126.925381     86.3
15          상봉  37.596362  127.085032       85
16       영등포구청  37.524970  126.895951     87.7
17          신길  37.517122  126.917169     82.9
18       을지로4가  37.566941  126.998079     83.7
19          합정  37.549463  126.913739     87.4
20          공덕  37.544018  126.951592       92
21         삼각지  37.534777  126.973110     89.6
22          약수  37.554340  127.010655     78.2
23          신당  37.565972  127.017820     89.8
24         동묘앞  37.572627  127.016429     78.7
25          석계  37.614805  127.065851     85.3
26          불광  37.610469  126.929887     86.7
27         연신내  37.619001  126.921008     87.9
28    디지털미디어시티  37.576646  126.900984     90.1
29         선정릉  37.510980  127.043593     88.6
..         ...        ...         ...      ...
193     신대방삼거리  37.499701  126.928276     80.7
194        보라매  37.499872  126.920428     85.7
195         신풍  37.500080  126.909930     80.8
196        남구로  37.486056  126.887249     90.4
197         철산  37.476050  126.867911     84.6
198      광명사거리  37.479252  126.854876     87.7
199         천왕  37.486637  126.838713     81.4
200        까치울  37.506207  126.810939     80.6
201    부천종합운동장  37.505380  126.797337       77
202         춘의  37.503663  126.787036     74.2
203        신중동  37.503048  126.775960     78.4
204       부천시청  37.504631  126.763538     80.8
205         상동  37.505781  126.753083     84.5
206      삼산체육관  37.506411  126.742153     77.9
207        굴포천  37.506997  126.731280       86
208         암사  37.550210  127.127562     83.9
209       강동구청  37.530341  127.120508     84.7
210       몽촌토성  37.517409  127.112359     79.1
211         석촌  37.505431  127.106979     80.6
212         송파  37.499703  127.112183     91.6
213         문정  37.485855  127.122500     86.9
214         장지  37.478703  127.126191     82.6
215         산성  37.457122  127.149908       88
216     남한산성입구  37.451535  127.159816     79.5
217      단대오거리  37.445210  127.156866     76.4
218         신흥  37.440918  127.147564     75.7
219         수진  37.437428  127.140722     80.1
220         언주  37.507287  127.033868    100.3
221       삼성중앙  37.513011  127.053282     79.9
222        봉은사  37.514219  127.060245     82.4

[223 rows x 4 columns]

In [64]:
fine_dust_df=pd.merge(coorinate_df, air_df, on='전철역명', how='inner')
fine_dust_df

In [75]:
fine_dust_df.to_csv('./data/fine_dust.csv',index=False,encoding='euc-kr')